body{
    background-size:cover;
}

.heading{
    background-color:rgb(221, 129, 8);
    color:white;
    font-size:35px;
    padding:10px;
    width:20%;
}

#start, #objects, #status{
    font-size:20px;
}

.footer{
    position:fixed;
    background-color:black;
    color:white;
    width:100%;
    bottom:0;
    padding:3px;
    line-height:3;
    font-size:20px;
    text-align:center;
}

canvas{
    border:solid black 7px;
    border-radius:20px;
    margin-top:100px;
    
}